header,
.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  font-family: "Inter", sans-serif, Arial;
  font-size: 16px;

  background-color: #fff;
  padding: 32px 16px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo,
header img {
  width: 98px;
}

.right-section {
  column-gap: 21px;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-content {
  background-color: #f9f9f9;
  background-color: #ffca40;
  background-color: #495485;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  min-width: 160px;
  position: absolute;
  top: 25px;

  z-index: 200;

  visibility: hidden;

  opacity: 0;
  transition: 0.3s;
}

.dropdown-content a {
  color: black;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

header a:hover {
  color: #ffca40;
}

header button {
  background-color: #cb1025;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;

  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  transition: background-color 0.3s;
}

/*Assessment*/

header button:hover {
  background-color: black;
  color: white;
}

/* (max-width: 768px) */
@media (min-width: 741px) and (max-width: 790px) {
  header {
    padding: 16px;
  }

  .logo,
  header img {
    width: 70px;
  }

  header button {
    padding: 10px 15px;
  }
}

@media (min-width: 621px) and (max-width: 740px) {
  header {
    flex-direction: column;
    font-size: 14px;
  }

  .logo,
  header img {
    width: 70px;
  }

  header button {
    padding: 10px 15px;
    font-size: 14px;
  }

  
}

@media (max-width: 620px) {
  header {
    font-size: 14px;
  }

  .logo,
  header img {
    width: 70px;
  }

  header button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .right-section {
    flex-direction: column;
    row-gap: 10px;
  }

  body {
    padding-top: 300px;
  } 
}

@media (max-width: 335px) {
  header {
    flex-direction: column;
    font-size: 14px;
  }

  .logo,
  header img {
    width: 70px;
  }

  header button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .right-section {
    flex-direction: column;
    row-gap: 10px;
  }

  body {
    padding-top: 330px;
  } 
}

/*1:02 JavaScriptContinuation*/
